@font-face {
    font-family:"Roadrage";
    src: url("../Assets/Road_Rage.otf");

}

@font-face {
    font-family:"Haloa";
    src: url("../Assets/HawaiiLover.ttf");
}
@font-face {
    font-family: "londonpow";
    src: url("../Assets/OldLondon.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 25vh;
    background-color: darkblue;
    color: antiquewhite;
    font-family: "Roadrage";
    background-image:url("../Assets/blackandblue.jpg");/*ajouter une image en fond*/
    background-position: center;/*centrer la position de l'image*/
    background-repeat: no-repeat;/* gerer la repétition de l'image*/
}
header>h1{
    font-size: 14vh;
    font-family:"Haloa";
}
header>h2{
    font-size: 3vh;
}
nav {
    /*taille et apparence du nav (menu)*/
    height: 75vh;
    width: 25vh;
    background-color: black;
    /*reglage des bouton.*/
    flex-direction: column;
}
.button {
    /*formatage du texte*/
    color: antiquewhite;
    text-decoration: none;
    font-family:"londonpow";
    font-size: 4vh;
    display: block;
    background-color: darkred;
    border-radius: 1vh;
    padding: 0.5vh;
    width: 12vw;
    text-align: center;
}
button:hover {
    background-color: darkblue;
    box-shadow: color white 5px 5px 5px 2px;
    transition: 230ms;
}