@font-face {
    font-family:"Roadrage";
    src: url("../Assets/Road_Rage.otf");

}

@font-face {
    font-family:"Haloa";
    src: url("../Assets/HawaiiLover.ttf");
}
@font-face {
    font-family: "londonpow";
    src: url("../Assets/OldLondon.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    z-index: 10;/* plus le z-index est grand plus */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 25vh;
    background-color: darkblue;
    color: antiquewhite;
    font-family: "Roadrage";
    background-image:url("../Assets/blackandblue.jpg");/*ajouter une image en fond*/
    background-position: center;/*centrer la position de l'image*/
    background-repeat: no-repeat;/* gerer la repétition de l'image*/
}
header>h1{
    font-size: 14vh;
    font-family:"Haloa";
}
header>h2{
    font-size: 3vh;
}
nav {
    z-index: 9;
    position: fixed;
    top: 14vh;
    /*taille et apparence du nav (menu)*/
    height: 95vh;
    width: 20vw;
    background-color: black;
    /*reglage des bouton.*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.button {
    /*formatage du texte*/
    color: antiquewhite;
    text-decoration: none;
    font-family:"londonpow";
    font-size: 4vh;
    display: block;
    background:linear-gradient(to left,rgb(3, 3, 252), rgb(38, 38, 252));
    border-radius: 0.5vh;
    padding: 0.5vh;
    width: 18vh;
    transition:800ms;
}
.button:hover {
    background-color: darkorchid;
    transition: 100ms;
    box-shadow: 5px 5px 10px 0;
    transform: translate3d(5px, 5px, 2px);
}
main {
    position: relative;
    top: 25vh;
    left: 20vw;
    width: 80vw;
}
footer {
    position: fixed;
    z-index: 11;
    width: 80vw;
    bottom: 0;
    left: 20vw;
    height: 10vh;
    background-image: url("../Assets/Biolum.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}